<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <a href="{% url 'Home:login' %}"><button class="btn btn-primary m-3">Log In</button></a>
    <a href="{% url 'Home:reg' %}"><button class="btn btn-primary m-3">Register</button></a>
    <a href="{% url 'Home:show' %}"><button class="btn btn-primary m-3">View Users</button></a>
</body>
</html>