<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <form action="" method="POST" class="m-5">
        {% csrf_token %}
        <input type="text" placeholder="Enter Your UserName" name="uname"><br><br>
        <input type="text" placeholder="Enter Your Password" name="password"><br><br>
        <button class="btn btn-success">Log In</button>
    </form>
</body>
</html>